In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/adult.data.csv');
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [17]:
#Classification based on the sex
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

In [23]:
#Trying to get basic information about the education skill sets that the users posseses
data['education'].value_counts()

HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: education, dtype: int64

In [24]:
#Basic insight about the occupation of these set of adults
data['occupation'].value_counts()

Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: occupation, dtype: int64

In [34]:
# Trying to get the average age of Women in this dataset
data[data['sex'] == 'Female']['age'].median()

35.0

In [33]:
# Trying to get the average age of Women in this dataset
data[data['sex'] == 'Male']['age'].median()

38.0

In [35]:
#Distribution of the age
data.groupby(['sex'])['education', 'occupation', 'race'].describe(percentiles=[])

       education                       occupation                             \
           count unique      top  freq      count unique           top  freq
sex
Female     10771     16  HS-grad  3390      10771     14  Adm-clerical  2537
Male       21790     16  HS-grad  7111      21790     15  Craft-repair  3877

         race
        count unique    top   freq
sex
Female  10771      5  White   8642
Male    21790      5  White  19174